<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userPushInfo">
    <resultMap id="userPushInfo" type="userPushInfo">
        <result column="uid" property="uid" jdbcType="BIGINT"/>
        <result column="pushType" property="pushType" jdbcType="INTEGER"/>
        <result column="pushToken" property="pushToken" jdbcType="VARCHAR"/>
        <result column="countryCode" property="country" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="lastTime" property="lastLoginTime" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,pushType,pushToken,countryCode,language,lastTime
    </sql>

    <select id="selectByAudienceCountryCode" resultMap="userPushInfo">
        select
        <include refid="Base_Column_List"/>
        from
        user_push_info

    </select>
    
    
    <select id="selectUserInfoByCountryCode" resultMap="userPushInfo" parameterType="java.util.Map">
        select
        <include refid="Column_List"/>
        from topic_user_push_#{tableSuffix,jdbcType=VARCHAR}_dt where pushToken!='' 
         <if test="pushUserType != null" >
            and pushUserType in 
            <foreach collection="pushUserType" item="item"  open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="inclusiveFeature != null" >
            and feature in
            <foreach collection="inclusiveFeature" item="item"  open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="exclusiveFeature != null" >
            and feature not in
            <foreach collection="exclusiveFeature" item="item"  open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by grade desc,lastTime  desc 
        limit #{start,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}
    </select>

</mapper>
