<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userInfoPush">
    <resultMap id="userInfoPush" type="userInfoPush">
        <result column="uid" property="uid" jdbcType="BIGINT"/>
        <result column="pushType" property="pushType" jdbcType="BIGINT"/>
        <result column="pushToken" property="pushToken" jdbcType="VARCHAR"/>
        <result column="countryCode" property="country" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="lastTime" property="lastLoginTime" jdbcType="BIGINT"/>
    </resultMap>


    <sql id="Base_Column_List">
        uid,pushType,pushToken,countryCode,language,lastTime
    </sql>

    <select id="selectByAudienceCountryCode" resultMap="userInfoPush">
        select
          uid,pushType,pushToken,countryCode,language,lastTime,feature,pushUserType
        from
          topic_user_push_dt
        where
          countrycode='CN' AND feature=0 AND pushusertype IN(2)  limit 10
    </select>
    
    
    <select id="selectUserInfoByCountryCode" resultMap="userInfoPush" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from topic_user_push_dt where pushToken!=''
         and countryCode=#{countryCode}
         and feature = #{feature}
         <if test="pushUserTypes != null" >
            and pushUserType in 
            <foreach collection="pushUserTypes" item="item"  open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by grade desc,lastTime  desc 
        limit #{start} OFFSET #{num}
    </select>

</mapper>
